{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-5 offset-6">
      <div class="card my-3 shadow">
        <div class="card-body">
          <h3>Se connecter</h3>
          <hr>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy}}
            <button class="btn btn-primary btn-block" type="submit" value="S'inscrire">Se connecter</button>
            <div class="pt-3">
					<small class="text-muted">Besion d'un Compte? <a href="{% url 'signin' %}" class="ml-2"> SignIn</a></small>
		</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
