{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="container p-4 my-4 border rounded">
        {% if review_form.instance.id %}
          <h2 class="text-center">Critique {{review_form.instance.id}}</h2>
          <form method="post" action="{% url 'create_review' ticket_id=review_form.instance.id %}" enctype="multipart/form-data">
            <input type="hidden" name="next" value="posts">
        {% else %}
          <h2 class="text-center">Créer une Critique</h2>
          <form method="post" action="{% url 'create_review' %}" enctype="multipart/form-data">
            <input type="hidden" name="next" value="flux">
        {% endif %}

        {% csrf_token %}
        {{ review_form|crispy }}
        <div class="row">
            <div class="col">
              <a class="btn btn-outline-primary me-md-2" type="button" href="javascript:history.back()">Retourner</a>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
          </div>
        </form>
    </div>
    </div>
  </div>
</div>
{% endblock %}
