{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="title">
        {% if edit %}
            Modifier votre critique
        {% else %}
            Créer une critique
        {% endif %}
    </h1>
    <div class="center global__width global__margin__bottom">
        <p>Vous êtes en train de poster en réponse à</p>
        <div class="ticket__post already__reviewed">
            <div class="ticket__post__content">
                <div class="ticket__post__content__row">
                    {% if ticket.user == user %}
                        <p>Vous avez demandé une critique</p>
                    {% else %}
                        <p>{{ ticket.user.username }} a demandé une critique</p>
                    {% endif %}
                    <p>{{ ticket.time_created|date:'H:i, d F Y' }}</p>
                </div>
                <p>Titre : {{ ticket.title }}</p>
                <p>Description : {{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" class="ticket__image">
                {% endif %}
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="review__post">
                <div class="vertical__display">
                    <p>Critique</p>
                    <p>Titre</p>
                    {{ review_form.headline|crispy }}
                    <p>Note</p>
                    {{ review_form.rating|crispy }}
                    <p>Commentaire</p>
                    {{ review_form.body|crispy }}
                    <div class="row__display">
                        <a href="javascript:history.go(-1)">
                            <button type="button" class="button">Annuler</button>
                        </a>
                        <button type="submit" class="button">Envoyer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
