{% extends "partials/base.html" %}

{% block content %}
<div class="container">
    <h3 class="mt-4 text-center">Flux utilisateur</h3>
    <div class="mt-4 text-center">
        <a href="{% url 'create_ticket' %}" class="btn btn-primary">Demander une critique</a>
        <a href="{% url 'create_review' %}" class="btn btn-primary">Créer une critique</a>
    </div>

    <br><hr><br>

    {% for ticket in tickets %}
        {% if ticket.review.exists %}
        {% else %}
        <div class="border border-secondary p-2 position-relative">
            <p>{% if ticket.user.username == user.username %}
                Vous avez demandé une critique
            {% else %}
                {{ ticket.user.username }} a demandé une critique
            {% endif %}</p>
            <div class="position-absolute top-0 end-0 p-2">{{ ticket.time_created|date:"DATETIME_FORMAT" }}</div>
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
                <div class="p-3">
                    <img src="{{ ticket.image.url }}" class="img-fluid" alt="Post Image">
                </div>
            {% endif %}
            {% if not ticket.review.exists %}
                <div class="position-absolute bottom-0 end-0 p-2">
                    <a href="{% url 'create_review' ticket_id=ticket.id %}" class="btn btn-primary">Créer une critique</a>
                </div>
            {% endif %}
        </div>
        <br>
        {% endif %}
    {% endfor %}

    {% for review in reviews %}
        <div class="px-2 pb-5">
            <div class="border border-secondary p-2">
                <p>{% if review.user.username == user.username %}
                    Vous avez publié une critique
                {% else %}
                    {{ review.user.username }} a publié un critique
                {% endif %}</p>
                <div class="position-absolute top-0 end-0 p-2">{{ ticket.time_created|date:"DATETIME_FORMAT" }}</div>
                <h3>{{ review.headline }} - {{ review.rating }}</h3>
                <div class="container p-4 my-4 border rounded">
                    <p>{{ review.body }}</p>
                    <p>Ticket - {{ review.ticket.user }}</p>
                    <p>{{ review.ticket.description }}</p>
                    {% if review.ticket.image %}
                        <div class="p-3">
                        <img src="{{ review.ticket.image.url }}" class="img-fluid" alt="Ticket Image">

                    {%endif%}

                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
