{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5">
        <form method="post"  class="mb-5">
            {% csrf_token %}
            <h3 class="text-center mb-3">Suivi d'autres utilisateurs</h3>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {{ form | crispy }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </form>

    <div class="p-5">
            <h3 class="text-center mb-3">Abonnements</h3>
            {% for user in user_follows %}
                {% if user.user == current_user %}
                <div class="row justify-content-center mb-2">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="list-group-item form-control">{{ user.followed_user }}</div>
                            <a href="/follow/delete/{{user.id}}/" type="button"
                               class="btn btn-danger">Désabonner</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    <div class="p-5">
            <h3 class="text-center mb-3">Abonnés</h3>
            {% for user in subscribers %}
                <div class="row justify-content-center mb-2">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="list-group-item list-group-item-action">{{ user.user }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
