{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="title">Abonnements</h1>
<div class="center global__width">
    <div class="subscriptions__item">
        <p>Suivre d'autres utilisateurs</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.followed_user|as_crispy_field }}
            <button type="submit" class="button">Envoyer</button>
        </form>
        {% if error_message %}
        <p class="error__message">{{ error_message }}</p>
        {% elif validation_message %}
        <p class="validation__message">{{ validation_message }}</p>
        {% else %}
        <p></p>
        {% endif %}
    </div>
    <div class="subscriptions__item">
        <p>Abonnements</p>
        {% if not subscriptions %}
        <p class="error__message">Vous n'êtes abonné à aucun utilisateur.</p>
        {% else %}
        <table class="subscriptions__table">
            {% for follow in followers %}
            <tr>
                <td>{{ follow.followed_user.username }}</td>
                <td>
                    <a href="{% url 'delete_user_follow' follow.followed_user.id %}">Désabonner</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="subscriptions__item">
        <p>Abonnés</p>
        {% if not subscribers %}
        <p class="error__message">Vous n'avez aucun abonné pour le moment.</p>
        {% else %}
        <table class="subscriptions__table">
            {% for user_follow in  user_follows %}
            <tr>
                <td>{{ user_follow.username }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
