{% extends 'partials/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="mt-4 text-center">Vos Posts</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% if data_review %}
                <h3 class="mb-4">Critiques que vous avez mise en ligne</h3>
                {% for review in data_review %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>Vous avez publié une critique</p>
                            <p>{{review.headline }}</p>
                            <p>{{review.body }}</p>
                            <p>{{review.user }}</p>
                            <p>{{review.rating }}/5</p>
                            <div class="card mt-4">
                                <div class="card-body">
                                    <p>{{ review.ticket.title }}</p>
                                    <p>{{ review.ticket.description }}</p>
                                    <p>{{ review.ticket.user }}</p>
                                    <img src="{{ review.ticket.image.url }}" alt="{{ review.ticket.title }}" class="img-fluid">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <a href="{% url 'edit_review' review_id=review.id %}" class="btn btn-primary">Modifier</a>
                                <a href="{% url 'delete_review' review_id=review.id %}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Vous n'avez pas encore publié de critique</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if data_ticket %}
                <h3 class="mb-4">Tickets que vous avez mis en ligne</h3>
                {% for ticket in data_ticket %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>{{ ticket.title }}</p>
                            <p>{{ ticket.description }}</p>
                            <p>{{ ticket.user }}</p>
                            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="img-fluid">
                            <div class="d-flex justify-content-between mt-4">
                                <a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn btn-primary">
                                    Modifier</a>
                                <a href="{% url 'delete_ticket' ticket_id=ticket.id %}" class="btn btn-danger">
                                    Supprimer</a>
                                {% if ticket in tickets_list %}
                                    <p>Une critique existe déjà pour ce ticket</p>
                                {% else %}
                                    <a href="{% url 'create_review' ticket_id=ticket.id %}" class="btn btn-primary">
                                        Créer une critique</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <p>Vous n'avez pas encore publié de ticket</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
