{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
{% if posts %}
    <h1>My Posts</h1>

{% for post in posts %}
  {% if post.type == 'TICKET' %}
    {% include 'review/snippet_ticket.html' with ticket=post %}
  {% elif post.type == 'REVIEW' %}
    {% include 'review/snippet_review.html' with review=post ticket=post.ticket %}
  {% endif %}
{% endfor %}

{% else %}
<h1>Aucun posts!</h1>
{% endif %}
 </div>
  <div class="col-md-3"></div>
</div>
{% endblock content %}