{% extends 'partials/base.html' %}
{% load crispy_forms_tags%}
{% block content %}
  <h1>Ticket Detail</h1>
  <h2>{{ ticket.title }}</h2>
  <p>{{ ticket.description }}</p>
  <p>Created by: {{ ticket.user.username }}</p>
  <!-- Display reviews -->
  <h3>Reviews:</h3>
  {% for review in reviews %}
    <h4>{{ review.headline }}</h4>
    <p>{{ review.body }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p>Created by: {{ review.user.username }}</p>
  {% empty %}
    <p>No reviews available.</p>
  {% endfor %}
  <!-- Review form -->
  <h3>Add a Review:</h3>
  <form method="post">
    {% csrf_token %}
    {{ review_form | crispy }}
    <button class="btn btn-primary" type="submit">Submit Review</button>
  </form>
{% endblock %}
